.header {
    text-align: left;  
    background: '#001529';
    padding-left: 4px;
}

.filter {
    text-align: left;
    font-size: 16px;
    padding-top: 8px;
    background-color: #eaecee;
    border-left: 12px solid #eaecee;
    border-right: 12px solid #eaecee;
}
.filterLabel{    
    padding-right: 8px;    
}

.transactions {
    max-width: 650px;
    min-height: 100vh;
    text-align: center;
    margin: auto;
    background-color: #eaecee;
}

.transaction {   
    height: 76px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    border: 12px solid #eaecee;    
}

.icon {
    width: 48px;
    font-size: 32px;
    vertical-align: middle;
}

.paidcategory {
    width: 420px;
    justify-content: center;
}

.category {
    text-align: left;
    min-width: 400px;
    font-size: 20px;
}

.paid {
    text-align: left;
    min-width: 400px;
    font-size: 12px;
}


.sum {
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    text-align: end;
    vertical-align: middle;
    top: 20%;
    position: relative;
}